#python 3.11.4
#pip 24.2
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
docker==7.1.0
entrypoints==0.4
escapism==1.0.1
idna==3.7
iso8601==2.1.0
Jinja2==3.1.4
jupyter-repo2docker==2024.7.0
MarkupSafe==2.1.5
python-json-logger==2.0.7
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
semver==3.0.2
toml==0.10.2
traitlets==5.14.3
urllib3==2.2.2